.bg-banner-direccion {
    background-image: url("../carouselPrueba/recursosPrueba/DireccionCentro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-banner-personal {
    background-image: url("../carouselPrueba/recursosPrueba/personalCentro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}