.text-rosa{
    color: var(--badge-Pink);
}

.text-azul{
    color: var(--badge-blue);
}

.text-purple{
    color: var(--badge-Purple);
}

.main {
    display: grid;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 3vh;
}

.general-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    max-width: 90vh;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 3vh;
    margin-right: 3vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (width< 1224px) {
    .general-card {
        display: grid;
        grid-template-columns: 1fr;
        
    }
}

.teacher-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 45vh;
    overflow: hidden;
}

.container {
    padding: 16px 16px;
}

.title {
    color: grey;
    font-size: 18px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: .5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 2em;
    text-align: center;
    padding: 5%;
}


/*Botones redes sociales*/
.marco {
    border: 1px solid lightgray;
    border-radius: 500px;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 7px;
    box-shadow: 2px 2px grey;
    color: black;
    transition: transform .2s;
}

.marco:hover {
    box-shadow: 5px 5px grey;
    transform: scale(1.2);
}