:root {
    --main-White: #FBFBFB;
    --main-Light-blue: #CAE2E4;
    --main-Blue: #008F9F;
    --main-Black: #050505;
    --main-Yellow: #FDC523;
    --badge-Red: #ec1212;
    --badge-Green: #05b80b;
    --badge-Lilac: #B695C0;
    --badge-blue: #1b5ed3;
    --badge-Orange: #ec9c12;
    --badge-Pink: #ff35d7;
    /*o fucsia*/
    --badge-White: #dddddd;
    --badge-Black: #050505;
    --badge-Yellow: #ece112;
    --badge-Aquamarine: #9fd5d1;
    --badge-Purple: #800080;
    --badge-Light-blue: #80cdde;
    --badge-mallow: #E0B0FF;
    --badge-turquoise: #5dc1b9;
}

/* body{
    background-color: #b8b8b8;
} */
.bg-card-orange {
    background-color: #F28E13;
}

.h35 {
    font-size: 1.5rem;
    /* Tamaño de fuente medio entre 3 y 4 */
    font-weight: 550;
}

/* animation */
.fade-in {
    opacity: 0;
}

.fade-in.active {
    opacity: 1;
    animation: fadeIn 1s ease-in-out forwards;
}


/* modificar por lapiz */
.cursor {
    cursor: pointer;
}

#rotated-svg {
    transform: rotate(180deg) scaleX(-1);
    width: 500px;
    height: 500px;
}

#rotated-rectangle {
    transform: rotate(-90deg);
}

#ilustration img {
    max-width: 905px;
    width: 100%;
    margin: auto;
    opacity: 0;
    animation-name: show;
    animation-delay: 6s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

#ilustration svg {
    max-width: 900px;
    width: 100%;
    margin: auto;
    position: absolute;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}

#ilustration svg path {
    stroke-width: 2;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-name: draw;
    animation-timing-function: linear;
}

#ilustration svg path#hands {
    stroke: #666;
    stroke-dasharray: 14535;
    stroke-dashoffset: 14535;
    animation-duration: 10s;
}

#ilustration svg path#shadow {
    stroke: #999;
    stroke-dasharray: 1481;
    stroke-dashoffset: 1481;
    animation-duration: 2s;
    animation-delay: 2s;
}

#ilustration svg path#heart {
    stroke: #ddd;
    stroke-dasharray: 3093;
    stroke-dashoffset: 3093;
    animation-duration: 2s;
    animation-delay: 5s;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes show {
    to {
        opacity: 1;
    }
}

/* canvas */
canvas {
    background: #dadada;
    display: block;
    margin: 50px auto 10px;
    border-radius: 5px;
    box-shadow: 0 4px 0 0 #222;
    cursor: url(../img/cursor.png), crosshair;
}

.controls {
    min-height: 60px;
    margin: 0 auto;
    width: 50%;
    border-radius: 5px;
    overflow: hidden;
}

.controls ul {
    list-style: none;
    margin: 0;
    float: left;
    padding: 10px 0 20px;
    width: 100%;
    text-align: center;
}

.controls ul li,
#newColor {
    display: block;
    height: 54px;
    width: 54px;
    border-radius: 60px;
    cursor: pointer;
    border: 0;
    box-shadow: 0 3px 0 0 #222;
}

.controls ul li {
    display: inline-block;
    margin: 0 5px 10px;
}

.controls .red {
    background: #fc4c4f;
}

.controls .blue {
    background: #4fa3fc;
}

.controls .yellow {
    background: #ECD13F;
}

.controls .selected {
    border: 7px solid #fff;
    width: 40px;
    height: 40px;
}

.controls button {
    background: #68B25B;
    box-shadow: 0 3px 0 0 #6A845F;
    color: #fff;
    outline: none;
    cursor: pointer;
    text-shadow: 0 1px #6A845F;
    display: block;
    font-size: 16px;
    line-height: 40px;
}

.controls #revealColorSelect {
    border: none;
    border-radius: 5px;
    margin: 10px auto;
    padding: 5px 20px;
    width: 160px;
}


/* New Color Palette */

.controls #colorSelect {
    background: #fff;
    border-radius: 5px;
    clear: both;
    margin: 20px auto 0;
    padding: 10px;
    width: 305px;
    position: relative;
    display: none;
}

.controls #colorSelect:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
}

.controls #newColor {
    width: 80px;
    height: 80px;
    border-radius: 3px;
    box-shadow: none;
    float: left;
    border: none;
    margin: 10px 20px 20px 10px;
}

.controls .sliders p {
    margin: 8px 0;
    vertical-align: middle;
}

.controls .sliders label {
    display: inline-block;
    margin: 0 10px 0 0;
    width: 35px;
    font-size: 14px;
    color: #6D574E;
}

.controls .sliders input {
    position: relative;
    top: 2px;
}

.controls #colorSelect button {
    border: none;
    border-top: 1px solid #6A845F;
    border-radius: 0 0 5px 5px;
    clear: both;
    margin: 10px -10px -7px;
    padding: 5px 10px;
    width: 325px;
}