body {
  background-position: center;
  background-image: url("../Resources/img/cosasTCAE/fondo.jpg");
  background-repeat: repeat;

}

.background-img {

  background-repeat: repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
}

/* Estilo para el contenedor de las tarjetas */
.card-container {
  position: relative;
  z-index: 1; /* Asegura que las tarjetas estén por encima de la imagen de fondo */
}

.card {
  width: 600px; /* Ancho aumentado */
  max-width: 90%; /* Para que no exceda el ancho de la pantalla en dispositivos pequeños */
  border: 1px solid #ace8e9;
  border-radius: 15px; /* Bordes redondeados */
  margin: 20px auto;
  cursor: pointer;
}

.info {
  margin-top: 20px;
}

body {
  background-image: url('/Resources/img/cosasTCAE/fondo.jpg');
  /*
Reemplaza 'path/to/fondo.jpg' con la ruta real de tu imagen */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* Estilos para hacer que el contenido sea opaco */
main,
header,
footer {
  background-color: rgba(188, 199, 253, 0.9);
  /* Ajusta el valor de
alfa según sea necesario */
}

.card {
  opacity: 0.8;
  /* Ajusta la opacidad según sea necesario */
}

.img-border {
  border: 3px solid #00FFFF;
  /* Azul fosforito */
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
  /* Sombra azul fosforito */
}