body {
  background-position: center;
  background-image: url("../Resources/img/cosasTCAE/fondo.jpg");
  background-repeat: repeat;

}

.background-img {

  background-repeat: repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
}

/* Estilo para el contenedor de las tarjetas */
.card-container {
  position: relative;
  z-index: 1; /* Asegura que las tarjetas estén por encima de la imagen de fondo */
}

.card {
  width: 600px; /* Ancho aumentado */
  max-width: 90%; /* Para que no exceda el ancho de la pantalla en dispositivos pequeños */
  border: 1px solid #ace8e9;
  border-radius: 15px; /* Bordes redondeados */
  margin: 20px auto;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  transition: transform 0.3s ease;
  background-color: rgb(255, 255, 255);
}

.card:hover {
  transform: translateY(-5px); /* Efecto de levantar ligeramente al pasar el ratón */
}

.card-header {
  padding: 20px;
  display: flex;
  align-items: center;
}

.card-header img {
  width: auto; /* Foto de perfil más grande */
  height: 300px;
  border-radius: 50%;
  margin-right: 20px;
}

.card-body {
  padding: 20px;
  display: none;
}

.info-section h3 {
  margin-bottom: 5px;
}

#card1 {
  border: 2px solid blue; /* Borde azul */
  box-shadow: 0 4px 8px rgba(0, 0, 255, 0.3); /* Sombra azul */
}

/* Estilos para la segunda tarjeta */
#card2 {
  border: 2px solid red; /* Borde rojo */
  box-shadow: 0 4px 8px rgba(255, 0, 0, 0.3); /* Sombra roja */
}

/* Estilos para la tercera tarjeta */
#card3 {
  border: 2px solid purple; /* Borde morado */
  box-shadow: 0 4px 8px rgba(128, 0, 128, 0.3); /* Sombra morada */
}